
.alert{
    padding: 5px !important;
    text-align: center;
    margin-top: 0;
}

.ocultar option:first-child{
    display: none;
}

.container-register{
    position:relative;
    max-width: 900px;
    width: 90%;
    background-color: rgb(243, 243, 243);
    border-radius: 7px;
    margin: 0 15px;
    box-shadow: 0 5px 10px;
    padding: 40px;
    

}
.container-register2{
    position:relative;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 7px;
    margin: 0 15px;
    box-shadow: 0 5px 10px;
    padding: 30px;
    
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}

.formulario__grupo{
    position: relative;

}

.money{
    background-color: rgb(227, 255, 236) !important;
}

.warning{
    background-color: rgb(255, 255, 209);
}

.orange{
    background-color: rgb(250, 228, 214);
}
.input-money{
    border: rgb(0, 190, 48) 1px solid;
    width: 200px;
    padding: 6px;
    margin: 23px;
    background-color: rgb(236, 247, 236);
    border-radius: 5px;
}