*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #d2dff3;
}

.emp{
    background: #d2dff3;
    color: #0a0a0a;
    font-size: 12px;
    border-color: #0a0a0a;
}

.exp{
    background:  #d2dff3;
    font-size: 10px !important;
    text-align: right;
    
}

.exp2{
    
    background: #ffffff;
    font-size: 15px !important;
    border-color: white;
    
}

.im{
    
    width: 180px;
}

.exp4{

    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    
}

.exp5{

    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;   
}

